body, html {
    background-color:#fff;/* #00BCF2 */
    width:100%;
}

h1 {
    font-size:5em;
}

table {
    margin-bottom:10px;
}

th {
    vertical-align:middle;
    color:#fff;
    font-weight:bold;
    background-color:#555;
    padding:10px;
    border:1px #787878 solid;
}

td {
    padding:10px;
    border:1px #787878 solid;
}

code {
    font-weight:bold;
    font-family:"Monaco", monospace;
    color:#00BCF2;
}

blockquote {
    font-size:24px;
    color:#ccc;
    line-height:1.4em;
}

#header {
    margin-bottom:20px;
}

#top-bar {
    height:10px;
    background-color: #fff;
}

#top-logo {
    position:absolute;
    top:10px;
    left:50%;
    margin-left:-20px;
    height:40px;
    width:40px;
    display:block;
    z-index:99999;
}

#top-image {
    position:absolute;
    width:100%;
    top:10px;
    box-shadow: 0 5px 5px #888888;
}

#header {
    margin-top:60px;
    color:#fff;
    text-align:center;
}

#footer {
    padding:0 20px 0 20px;
}

#sidebar {
    text-align: center;
}

p.number {
    font-size:24px;
    font-weight:bold;
    color:#000;
}

.panel {
    color:#fff;
    padding:20px;
    background-color:#1a1a1a;
    margin-bottom:20px;
    box-shadow: 2px 2px 2px #2b2b2b;
}

.panel a, .panel a:visited {
    color:#00BCF2;
}

@media screen and (max-width: 480px) {

    #header {
        margin-top:40px;
    }

    h1 {
        font-size:3em;
    }

    h5 {
        margin-top:0;
    }
}
