<html>
<head>
    <title>Twilio Trivia Admin</title>
</head>
<body>
    <form action="/question" method="POST">
        <input type="text" name="question" placeholder="question"/>
        <input type="text" name="answer" placeholder="answer"/>
        <input type="submit" value="Set the main question"/>
    </form>
</body>
</html>